---
interface Props {
  ghost?: boolean;
  id?: string;
}

const { ghost, id } = Astro.props;
---

<button id={id} class:list={["mbutton", { "mbutton--ghost": ghost }]}>
  <slot />
</button>

<style>
  @reference "tailwindcss";
  @custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

  .mbutton {
    @apply px-8 py-3 bg-gray-950 text-white rounded font-medium hover:bg-indigo-400 hover:text-white cursor-pointer transition-all dark:bg-white dark:text-gray-900;
  }

  .mbutton--ghost {
    @apply bg-transparent border border-gray-900 text-gray-900 hover:bg-gray-50 transition-all dark:border-white dark:text-white dark:hover:text-gray-900;
  }
</style>
