---
import MButton from "./MButton.astro";
import MSocialLinks from "./MSocialLinks.astro";
import Avatar from "../assets/images/avatar.jpg";
---

<script>
  const buttonDownloadCV = document.getElementById("button-download-cv");

  function downloadCV() {
    const link = document.createElement("a");
    link.href = "/files/CV.pdf";
    link.download = "CV-Gabriela.pdf";
    link.click();
  }
  buttonDownloadCV?.addEventListener("click", downloadCV);
</script>

<div class="hero">
  <div class="hero__content">
    <!-- Avatar -->
    <div class="avatar">
      <img src={Avatar.src} alt="Gabhu" class="avatar__img" />
    </div>

    <div class="hero__text-info">
      <h2 class="hero__greeting">Hola, Soy gabhu 👋</h2>
      <p class="hero__role">UI Frontend developer</p>

      <!-- Social Icons -->
      <MSocialLinks />
    </div>

    <h1 class="hero__headline">
      Transformo ideas en interfaces <br /> funcionales y atractivas
    </h1>

    <p class="hero__description">
      Soy diseñadora UI y desarrolladora frontend. Creo experiencias digitales
      intuitivas y visualmente atractivas, combinando creatividad y tecnología.
    </p>

    <div class="hero__actions">
      <MButton ghost id="button-download-cv">Descarga mi CV</MButton>
      <MButton>Contáctame</MButton>
    </div>
  </div>
</div>

<style>
  @reference "tailwindcss";
  @custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

  .hero {
    @apply relative overflow-hidden min-h-[80vh] flex items-center justify-center;
  }

  .hero__content {
    @apply relative z-10 flex flex-col items-center text-center max-w-4xl px-6;
  }

  .avatar {
    @apply w-30 h-30 rounded-full bg-pink-100 flex items-center justify-center mb-6;
  }

  .avatar__img {
    @apply w-full h-full rounded-full object-cover;
  }

  .hero__greeting {
    @apply text-xl font-semibold text-gray-900 mb-3 dark:text-white;
  }

  .hero__role {
    @apply text-lg text-gray-900 mb-4 dark:text-white;
  }
  .hero__headline {
    @apply text-4xl md:text-5xl font-semibold text-gray-900 mt-8 mb-5 leading-tight dark:text-white;
  }

  .hero__description {
    @apply text-lg text-gray-600 mb-10 max-w-2xl leading-relaxed dark:text-white;
  }

  .hero__actions {
    @apply flex flex-col sm:flex-row gap-4;
  }
</style>
