---
import MNavItem from "./MNavItem.astro";
---

<nav>
  <MNavItem href=""> Sobre mí </MNavItem>
  <MNavItem href="#"> Contactame </MNavItem>
</nav>

<style>
  @reference "tailwindcss";

  nav {
    @apply flex justify-end gap-5 py-8 px-24;
  }
</style>
