---
import MNavItem from "./MNavItem.astro";
import { MenuIcon, XIcon } from "@lucide/astro";
import Avatar from "../assets/images/avatar.jpg";
import MNavbarDropdown from "./MNavbarDropdown.astro";
import MToogleTheme from "./MToogleTheme.astro";
---

<nav>
  {
    Astro.url.pathname !== "/" && (
      <div class="avatar">
        <img src={Avatar.src} alt="Gabhu" class="avatar__img" />
        <p>Gabhu-dev</p>
      </div>
    )
  }
  <div style="flex:1"></div>
  <MToogleTheme class="hidden lg:block transition-all" />

  <button id="menu-toggle" aria-label="Toggle menú" class="lg:hidden z-110">
    <MenuIcon id="icon-menu" class="size-8 block" />
    <XIcon id="icon-close" class="size-8 hidden" />
  </button>

  <div class="menu-items">
    <MNavItem href="/"> Sobre mí </MNavItem>
    <MNavItem href="#projects"> Mis trabajos </MNavItem>
    <MNavItem href="#contact"> Contáctame </MNavItem>
  </div>
  <MNavbarDropdown />
</nav>

<script>
  const menuToggle = document.getElementById("menu-toggle");
  const iconMenu = document.getElementById("icon-menu");
  const iconClose = document.getElementById("icon-close");
  const dropdown = document.querySelector(".dropdown");

  menuToggle?.addEventListener("click", () => {
    const isOpen = dropdown?.classList.toggle("dropdown--open");

    // Toggle icons
    iconMenu?.classList.toggle("hidden", isOpen);
    iconClose?.classList.toggle("hidden", !isOpen);

    // Prevent scrolling when menu is open
    document.body.style.overflow = isOpen ? "hidden" : "";
  });

  // Close menu when clicking on a link
  const dropdownLinks = document.querySelectorAll(".dropdown a");
  dropdownLinks.forEach((link) => {
    link.addEventListener("click", () => {
      dropdown?.classList.remove("dropdown--open");
      iconMenu?.classList.remove("hidden");
      iconClose?.classList.add("hidden");
      document.body.style.overflow = "";
    });
  });
</script>

<style>
  @reference "tailwindcss";
  @custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

  nav {
    @apply flex justify-end gap-5 py-8 px-6 lg:px-24 items-center sticky top-0 bg-white/80 dark:bg-gray-800/80 backdrop-blur-md z-100;
  }

  .menu-items {
    @apply hidden lg:flex gap-5 items-center;
  }

  .avatar {
    @apply flex items-center gap-2;
  }

  .avatar__img {
    @apply w-10 h-10 rounded-full object-cover;
  }

  .avatar p {
    @apply text-gray-900 font-semibold dark:text-white;
  }
</style>
