---
import MNavItem from "./MNavItem.astro";
import MSocialLinks from "./MSocialLinks.astro";
import MButton from "./MButton.astro";
import MToogleTheme from "./MToogleTheme.astro";
---

<div class="dropdown">
  <MToogleTheme />
  <MNavItem href="/"> Sobre mí </MNavItem>
  <MNavItem href="#projects"> Mis trabajos </MNavItem>
  <MNavItem href="#contact"> Contáctame </MNavItem>
  <div class="dropdown__actions">
    <MButton ghost id="button-download-cv" class="mb-24">Descarga mi CV</MButton
    >
    <MSocialLinks />
  </div>
</div>

<style>
  @reference "tailwindcss";
  @custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

  .dropdown {
    @apply flex flex-col gap-10 items-center absolute top-24 right-0 left-0 bottom-0 bg-white z-100 dark:bg-gray-800;
  }

  .dropdown__actions {
    @apply absolute bottom-5;
  }
</style>
