<nav>
  <a href="#"> Sobre mí </a>
  <a href="#"> Mis trabajos </a>
  <a href="#"> Contactame </a>
</nav>

<style>
  @reference "tailwindcss";

  nav {
    @apply flex justify-end gap-5 py-8 px-24;
  }
</style>
