---
import MNavItem from "./MNavItem.astro";
import { MenuIcon } from "@lucide/astro";
import Avatar from "../assets/images/avatar.jpg";
import MNavbarDropdown from "./MNavbarDropdown.astro";
import MToogleTheme from "./MToogleTheme.astro";
---

<nav>
  {
    Astro.url.pathname !== "/" && (
      <div class="avatar">
        <img src={Avatar.src} alt="Gabhu" class="avatar__img" />
        <p>Gabhu-dev</p>
      </div>
    )
  }
  <div style="flex:1"></div>
  <MToogleTheme class="hidden lg:block" />

  <button id="menu-toggle" aria-label="Abrir menú" class="lg:hidden">
    <MenuIcon class="size-8" />
  </button>
  <div class="menu-items">
    <MNavItem href="/"> Sobre mí </MNavItem>
    <MNavItem href="#projects"> Mis trabajos </MNavItem>
    <MNavItem href="#contact"> Contáctame </MNavItem>
  </div>
  <MNavbarDropdown />
</nav>

<style>
  @reference "tailwindcss";
  @custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

  nav {
    @apply flex justify-end gap-5 py-8 px-6 lg:px-24 items-center;
  }

  .menu-items {
    @apply hidden lg:flex gap-5 items-center;
  }

  .avatar {
    @apply flex items-center gap-2;
  }

  .avatar__img {
    @apply w-10 h-10 rounded-full object-cover;
  }

  .avatar p {
    @apply text-gray-900 font-semibold dark:text-white;
  }
</style>
