---
import MNavItem from "./MNavItem.astro";
import { MoonIcon } from "@lucide/astro";
---

<nav>
  <MoonIcon class="size-5" />
  <MNavItem href="/"> Sobre mí </MNavItem>
  <MNavItem href="#contact"> Contactame </MNavItem>
</nav>

<style>
  @reference "tailwindcss";

  nav {
    @apply flex justify-end gap-5 py-8 px-24 items-center;
  }
</style>
