---
import { ArrowRightIcon } from "@lucide/astro";

interface Props {
  slug: string;
  title: string;
  image: ImageMetadata;
}

const { slug, title, image } = Astro.props;
---

<a href={`/projects/${slug}`} class="project__item">
  <img src={image.src} alt={title} />
  <div class="project__item-title">
    <h3>{title}</h3>
    <ArrowRightIcon size={20} class="project__item-icon" />
  </div>
</a>

<style>
  @reference "tailwindcss";

  .project__item {
    @apply w-full shadow-sm rounded-lg overflow-hidden bg-white text-gray-900 hover:text-indigo-500 transition-all;
  }
  .project__item img {
    @apply border-b border-gray-100 h-[233px] object-contain;
  }
  .project__item-title {
    @apply p-5 text-xl font-semibold flex justify-between items-center;
  }
  .project__item:hover .project__item-icon {
    @apply size-6 transition-all;
  }
</style>
