<div class="project-title">
  <h1>
    PROYECTO:
    <span class="project-title__name">
      <slot name="title" />
    </span>
  </h1>
</div>

<style>
  @reference "tailwindcss";

  .project-title h1 {
    @apply text-3xl font-semibold;
  }

  .project-title__name {
    @apply relative;
  }

  .project-title__name::after {
    content: "";
    @apply absolute -bottom-1 left-0 w-full h-1 bg-indigo-500 rounded-full;
  }
</style>
