<div>
  <h2 class="section__title">
    <slot name="title" />
  </h2>
  <p class="section__text">
    <slot name="text" />
  </p>
</div>

<style>
  @reference "tailwindcss";
  @custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

  .section__title {
    @apply text-3xl text-center font-semibold text-gray-900 mb-5 leading-tight dark:text-white;
  }
  .section__text {
    @apply text-center text-gray-600 text-lg dark:text-white;
  }
</style>
