---
interface Props {
  id?: string;
}

const { id } = Astro.props;
---

<div id={id} class="section">
  <slot />
</div>

<style>
  @reference "tailwindcss";
  @custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

  .section {
    @apply py-24;
  }
</style>
