---
import MSkillItem from "./MSkillItem.astro";

const skills = [
  {
    name: "HTML",
    icon: "html",
  },
  {
    name: "CSS",
    icon: "css",
  },
  {
    name: "JavaScript",
    icon: "js",
  },
  {
    name: "React",
    icon: "react",
  },
  {
    name: "Next.js",
    icon: "nextjs",
  },
  {
    name: "Tailwind CSS",
    icon: "tailwindcss",
  },
];
---

<div class="skills">
  {skills.map((skill) => <MSkillItem name={skill.name} icon={skill.icon} />)}
</div>

<style>
  @reference "tailwindcss";

  .skills {
    @apply grid grid-cols-2 py-24 md:grid-cols-1 lg:grid-cols-2 gap-4;
  }
</style>
