---
import MSkillItem from "./MSkillItem.astro";

const skills = [
  {
    name: "HTML",
    code: "<h1></h1>",
    color: "#FFD0DC",
  },
  {
    name: "Figma",
    code: "Text",
    color: "#ECD0FF",
  },
  {
    name: "Javascript",
    code: "const a = b;",
    color: "#FEEFAD",
  },
  {
    name: "Pixel Perfect",
    code: "Text",
    color: "#FFECD0",
  },
  {
    name: "CSS",
    code: "margin: auto;",
    color: "#D0E8FF",
  },
  {
    name: "Ant Design",
    code: "<a-button />",
    color: "#D0D1FF",
  },
  {
    name: "Vue 3",
    code: "<Button />",
    color: "#D0FFE0",
  },
  {
    name: "Sass",
    code: "@include mrg",
    color: "#FFD0FB",
  },
  {
    name: "TypeScript",
    code: 'type a = "a";',
    color: "#FFE3D0",
  },
  {
    name: "Tailwind",
    code: "hover:px-0",
    color: "#D0FFFF",
  },
];
---

<div class="skills">
  <div class="skills__container">
    <h2 class="skills__headline">Mis habilidades ⭐</h2>
    <p class="skills__text">
      He adquirido estas habilidades gracias a mi pasión por aprender.
    </p>
    <div class="skills__items">
      {
        skills.map((skill) => (
          <MSkillItem
            name={skill.name}
            code={skill.code}
            style={{ backgroundColor: skill.color }}
          />
        ))
      }
    </div>
  </div>
</div>

<style>
  @reference "tailwindcss";
  @custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

  .skills {
    @apply py-24;
  }
  .skills__container {
    @apply max-w-5xl mx-auto px-6;
  }
  .skills__items {
    @apply mt-14 grid grid-cols-1 md:grid-cols-2 gap-4;
  }
  .skills__headline {
    @apply text-3xl text-center font-semibold text-gray-900 mb-5 leading-tight dark:text-white;
  }
  .skills__text {
    @apply text-center text-gray-600 text-lg dark:text-white;
  }
</style>
