---
import type { HTMLAttributes } from "astro/types";
interface Props extends HTMLAttributes<"div"> {
  name: string;
  code: string;
}

const { name, code, style } = Astro.props;
---

<div style={style} class="skill-item">
  <span class="skill-item__name">{name}</span>
  <span class="skill-item__code">{code}</span>
</div>

<style>
  @reference "tailwindcss";

  .skill-item {
    @apply flex justify-between items-center p-4 rounded-lg;
  }
  .skill-item__name {
    @apply font-semibold text-gray-900;
  }
  .skill-item__code {
    @apply text-sm text-gray-950;
  }
</style>
