---
import MSkillItem from "./MSkillItem.astro";

const skills = [
  {
    name: "HTML",
    code: "<h1></h1>",
    color: "bg-red-100/60",
  },
  {
    name: "Figma",
    code: "Text",
    color: "bg-purple-100/60",
  },
  {
    name: "Javascript",
    code: "const a = b;",
    color: "bg-yellow-100/60",
  },
  {
    name: "Pixel Perfect",
    code: "Text",
    color: "bg-orange-100/60",
  },
  {
    name: "CSS",
    code: "margin: auto;",
    color: "bg-blue-100/60",
  },
  {
    name: "Ant Design",
    code: "<a-button />",
    color: "bg-indigo-100/60",
  },
  {
    name: "Vue 3",
    code: "<Button />",
    color: "bg-green-100/60",
  },
  {
    name: "Sass",
    code: "@include mrg",
    color: "bg-pink-100/60",
  },
  {
    name: "TypeScript",
    code: 'type a = "a";',
    color: "bg-orange-100/80",
  },
  {
    name: "Tailwind",
    code: "hover:px-0",
    color: "bg-cyan-100/60",
  },
];
---

<div class="skills">
  <div class="skills__container">
    <h2 class="skills__headline">Mis habilidades ⭐</h2>
    <p class="skills__text">
      He adquirido estas habilidades gracias a mi pasión por aprender.
    </p>
    <div class="skills__items">
      {
        skills.map((skill) => (
          <MSkillItem
            name={skill.name}
            code={skill.code}
            className={skill.color}
          />
        ))
      }
    </div>
  </div>
</div>

<style>
  @reference "tailwindcss";

  .skills {
    @apply py-24;
  }
  .skills__container {
    @apply max-w-5xl mx-auto px-6;
  }
  .skills__items {
    @apply mt-14 grid grid-cols-1 md:grid-cols-2 gap-4;
  }
  .skills__headline {
    @apply text-3xl text-center font-semibold text-gray-900 mb-5 leading-tight;
  }
  .skills__text {
    @apply text-center text-gray-600 text-lg;
  }
</style>
