---
import MSkillItem from "./MSkillItem.astro";
import MSectionHead from "./MSectionHead.astro";
import MSection from "./MSection.astro";

const skills = [
  {
    name: "HTML",
    code: "<h1></h1>",
    color: "#FFD0DC",
  },
  {
    name: "Figma",
    code: "Text",
    color: "#ECD0FF",
  },
  {
    name: "Javascript",
    code: "const a = b;",
    color: "#FEEFAD",
  },
  {
    name: "Pixel Perfect",
    code: "Text",
    color: "#FFECD0",
  },
  {
    name: "CSS",
    code: "margin: auto;",
    color: "#D0E8FF",
  },
  {
    name: "Ant Design",
    code: "<a-button />",
    color: "#D0D1FF",
  },
  {
    name: "Vue 3",
    code: "<Button />",
    color: "#D0FFE0",
  },
  {
    name: "Sass",
    code: "@include mrg",
    color: "#FFD0FB",
  },
  {
    name: "TypeScript",
    code: 'type a = "a";',
    color: "#FFE3D0",
  },
  {
    name: "Tailwind",
    code: "hover:px-0",
    color: "#D0FFFF",
  },
];
---

<MSection class="skills">
  <div class="skills__container">
    <MSectionHead>
      <span slot="title">Mis habilidades ⭐</span>
      <span slot="text">
        He adquirido estas habilidades gracias a mi pasión por aprender.
      </span>
    </MSectionHead>

    <div class="skills__items">
      {
        skills.map((skill) => (
          <MSkillItem
            name={skill.name}
            code={skill.code}
            style={{ backgroundColor: skill.color }}
          />
        ))
      }
    </div>
  </div>
</MSection>

<style>
  @reference "tailwindcss";
  @custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

  .skills__container {
    @apply max-w-5xl mx-auto px-6;
  }
  .skills__items {
    @apply mt-14 grid grid-cols-1 md:grid-cols-2 gap-4;
  }
</style>
