---
import { Linkedin, Github, Codepen, Dribbble } from "@lucide/astro";

interface Props {
  fromFooter?: boolean;
}

const { fromFooter } = Astro.props;
---

<div class:list={["hero__socials", { "hero__socials--footer": fromFooter }]}>
  <a href="#" class="social-icon">
    <Linkedin />
  </a>
  <a href="#" class="social-icon">
    <Github />
  </a>
  <a href="#" class="social-icon">
    <Codepen />
  </a>
  <a href="#" class="social-icon">
    <Dribbble />
  </a>
</div>

<style>
  @reference "tailwindcss";
  @custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

  .hero__socials {
    @apply flex gap-8 justify-center;
  }

  .hero__socials--footer .social-icon {
    @apply dark:text-gray-900 dark:hover:text-indigo-600;
  }
</style>
