---
import { Linkedin, Github, Codepen, Dribbble } from "@lucide/astro";
---

<div class="hero__socials">
  <a href="#" class="social-icon">
    <Linkedin />
  </a>
  <a href="#" class="social-icon">
    <Github />
  </a>
  <a href="#" class="social-icon">
    <Codepen />
  </a>
  <a href="#" class="social-icon">
    <Dribbble />
  </a>
</div>

<style>
  @reference "tailwindcss";

  .hero__socials {
    @apply flex gap-8 justify-center;
  }
</style>
