---
import { Linkedin, Github, Codepen, Dribbble } from "@lucide/astro";

interface Props {
  fromFooter?: boolean;
}

const { fromFooter } = Astro.props;
---

<div class:list={["hero__socials", { "hero__socials--footer": fromFooter }]}>
  <a
    href="https://www.linkedin.com/in/gabhu-dev/"
    class="social-icon"
    target="_blank"
    rel="noopener noreferrer"
  >
    <Linkedin />
  </a>
  <a
    href="https://github.com/gabhu-dev"
    class="social-icon"
    target="_blank"
    rel="noopener noreferrer"
  >
    <Github />
  </a>
  <a
    href="https://codepen.io/gabhu-dev"
    class="social-icon"
    target="_blank"
    rel="noopener noreferrer"
  >
    <Codepen />
  </a>
  <a
    href="https://dribbble.com/gabhu-dev"
    class="social-icon"
    target="_blank"
    rel="noopener noreferrer"
  >
    <Dribbble />
  </a>
</div>

<style>
  @reference "tailwindcss";
  @custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

  .hero__socials {
    @apply flex gap-8 justify-center;
  }

  .hero__socials--footer .social-icon {
    @apply dark:text-gray-900 dark:hover:text-indigo-600;
  }
</style>
