---
import "../styles/global.css";
---

<html lang="en" data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body>
    <div id="tsparticles"></div>
    <slot />
    <script>
      import { tsParticles } from "@tsparticles/engine";
      import { loadSlim } from "@tsparticles/slim";

      async function initParticles() {
        await loadSlim(tsParticles);
        await tsParticles.load({
          id: "tsparticles",
          options: {
            background: {
              color: {
                value: "transparent",
              },
            },
            fpsLimit: 120,
            interactivity: {
              events: {
                onClick: {
                  enable: true,
                  mode: "push",
                },
                onHover: {
                  enable: true,
                  mode: "repulse",
                },
              },
              modes: {
                push: {
                  quantity: 4,
                },
                repulse: {
                  distance: 200,
                  duration: 0.4,
                },
              },
            },
            particles: {
              color: {
                value: ["#818cf8", "#c084fc", "#fb7185"],
              },
              // links: {
              //   color: "#6366f1",
              //   distance: 150,
              //   enable: true,
              //   opacity: 0.3,
              //   width: 1,
              // },
              move: {
                direction: "none",
                enable: true,
                outModes: {
                  default: "bounce",
                },
                random: false,
                speed: 1,
                straight: false,
              },
              number: {
                density: {
                  enable: true,
                },
                value: 80,
              },
              opacity: {
                value: 0.5,
              },
              shape: {
                type: "circle",
              },
              size: {
                value: { min: 2, max: 5 },
              },
            },
            detectRetina: true,
          },
        });
      }

      initParticles();
    </script>
  </body>
</html>

<style is:global>
  @reference "tailwindcss";
  @custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    color: #000;
    @apply dark:text-white dark:bg-gray-800;
  }

  #tsparticles {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    pointer-events: none;
  }

  a {
    @apply cursor-pointer hover:text-indigo-600;
  }
</style>
